# 수 정렬하기, 약수 개수, 소수 개수

In [ ]:
#2750. 수 정렬하기

n = int(input())
# 입력 받을 수
li = []
# n개의 입력되는 정수 받을 리스트 생성

for i in range(n):
  li.append(input())
# 이후 입력되는 값들 리스트에 append

li.sort()
# 리스트 정렬

for i in li:
  print(i)

# 리스트 내의 원소 for문 통해 하나씩 print

5
5
2
3
4
1
1
2
3
4
5

In [1]:
#1037 약수 개수

n = int(input())

k = list(map(int, input().split()))

print(max(k)*min(k))

3
2 3 4
8

# 소수의 정의

- 소수란 : '양의 약수를 두 개만 가지는 자연수'

- 자기자신 % [2, 자기자신-1] 을 했을 때 나머지가 0이 되는 수가 하나도 없는 수

In [ ]:
# 소수 판별 알고리즘 
# 1. 어느 수까지 판별하는 수를 나눠서 나머지가 0이 안나오면 소수로 인정
# 2. 해당 숫자의 절반까지만 확인하는 방법
# 에라토스테네스의 체

## 2581. 소수 

- 자연수 M과 N이 주어질 때 M이상 N이하의 자연수 중 소수인 것을 모두 골라 이들 소수의 합과 최솟값을 찾는 프로그램을 작성하시오.

- 예를 들어 M=60, N=100인 경우 60이상 100이하의 자연수 중 소수는 61, 67, 71, 73, 79, 83, 89, 97 총 8개가 있으므로, 이들 소수의 합은 620이고, 최솟값은 61이 된다.

In [ ]:
n = int(input())
m = int(input())

li = []

for i in range(n,m+1):
  for j in range(2, i+1):
    if i == j:
      li.append(i)
    if i%j==0:
      break  

li.sort()

if len(li)>0:
  print(sum(li))
  print(li[0])

else:
  print(-1)

60
100
620
61

## 백준 1929 
- 첫째 줄에 자연수 M과 N이 빈 칸을 사이에 두고 주어진다. (1 ≤ M ≤ N ≤ 1,000,000) M이상 N이하의 소수가 하나 이상 있는 입력만 주어진다.

In [3]:
m, n = map(int, input().split())

li = []

for i in range(m,n+1):
  for j in range(2, i+1):
    if i==j:
      li.append(i)
    if i%j==0:
      break
for i in li:
  print(i)
      
# 시간초과

3 16
3
5
7
11
13

## 시간 초과를 해결할 수 있는 방법

#### 1. 소수의 대칭성 활용 ex. 2 4 / 4 2 -> 제곱근까지만 판별

#### 2. 에라토스테네스의 체

In [4]:
m, n = map(int, input().split())
k = int(n**0.5)

li = []

for i in range(m,n+1):
  for j in range(2, k+1):
    if i==j:
      li.append(i)
    if i%j==0:
      break
for i in li:
  print(i)
      
# 시간초과

3 16
3

# 에라토스테네스의 체

- 2부터 소수를 구하고자 하는 구간의 모든 수를 나열한다.

![image.png]()

- 2부터 시작해서 나열된 수에서 지워지지 않은 수 중 가장 작은 2를 소수로 선택하고 2의 배수를 지운다.
- 3도 지워지지 않았기 때문에 소수로 선택하고 3의 배수를 지운다.
- 4는 지워졌기 때문에 넘어가고 5를 소수로 선택하고 5의 배수를 지운다.
- 2,3,4와 같은 과정을 반복한다.
- 반복이 끝나면 지워지지 않은 수들을 소수로 출력한다.

In [2]:
m,n = map(int,input().split())
k = n**0.5
l = [True for i in range(n + 1)] # 처음엔 모든 수가 소수(True)인 것으로 초기화

for i in range(2, int(k + 1)): # 2부터 n의 제곱근까지
    if l[i] == True: # i가 소수인 경우 (남은 수인 경우)
        # i를 제외한 i의 모든 배수를 지우기
        j = 2 
        while i * j <= n:
            l[i * j] = False
            j += 1

# 모든 소수 출력
for i in range(m, n + 1):
    if l[i]:
        if i != 1:
            print(i)

3 16
3
5
7
11
13